@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Web.Areas.Catalog.Models
@model PatientTreatmentViewModel
<form id="create-form" method="post" asp-controller="PatientTreatment" asp-action="OnPostCreateOrEdit" asp-route-patientId="@Model.PatientId" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="form-group justify-content-center">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Dhembi</label>
                <div class="col-md-9">
                    <input type="number" asp-for="Tooth" name="Tooth" class="form-control">
                    <span asp-validation-for="Tooth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Diagnoza</label>
                <div class="col-md-9">
                    <input type="text"  asp-for="Diagnosis" name="Diagnosis" class="form-control">
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Trajtimi</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="Treatment" name="Treatment" class="form-control">
                    <span asp-validation-for="Treatment" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Data e trajtimit</label>
                <div class="col-md-9">
                    <input type="datetime-local" as asp-for="DateOfIntervention" name="DateOfIntervention" class="form-control" />
                    <span asp-validation-for="DateOfIntervention" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">Zgjidh mjekun</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="StaffUserId" class="form-control select2bs4" id="StaffUserId" asp-for="StaffUserId" asp-items="@Model.StaffUsers">
                        </select>
                    </div>
                    <span asp-validation-for="StaffUserId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">Pagesa</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="Payment" name="Payment" class="form-control">
                    <span asp-validation-for="Payment" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-file form-image">
                    <input accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="@Model.Picture"
                           type="file" class="custom-file-input"
                           onchange="document.getElementById('viewableImage').src = window.URL.createObjectURL(this.files[0])"
                           id="customFile">
                    <label class="custom-file-label" for="customFile">Shto foto</label>
                </div>
                @if (Model.Picture != null && Model.Picture.Length > 0)
                {
                    <img id="viewableImage" class="viewableImage" asp-for="@Model.Picture" style="width: 100%;object-fit: cover;padding-top: 10px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Picture))" alt>
                    <button onclick="document.getElementById('achimage').src = null;" type="button" style="margin-top:10px" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove Image</button>
                }
                else
                {
                    <img id="viewableImage" class="viewableImage" style="width: 100%;object-fit: cover;padding-top:10px;" src="" alt>
                }
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group d-flex justify-content-end" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success m-2">Save</button>
        <button type="submit" class="btn btn-default close-button m-2" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    
</script>

<style>
    .modal, #form-modal {
        background-color: none;
    }
</style>